
*{
    /* margin: auto; */
}


.top-nav {
   padding: 1px;
   margin: 2px;
   color: bisque;
   position: top;
   background-image: url("./images/nav-image.png");
   text-align: center;
   font-size: 20pt;
   
 }
 
 span{
     color:rgb(168, 212, 65);
 }

.band {
    padding: 10px;
    color:rgb(168, 212, 65);
    background-color: rgb(243, 235, 235);  
    display: flex;
    justify-content: center;
    
}

#social-media {

    font-size: 24pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    
}
#social-media > a{
    text-decoration:none;
    color: rgb(104, 164, 184);
   
    
}

.write-up{
    display:flex;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: antiquewhite;
}

.bio{
    margin: 10px;
    padding: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    
}
.container {
    background-color: antiquewhite;
    display:flex;
    justify-content: space-evenly;
 
}
.mytab {
    display: flex;

}
.my-skills {
    text-align: left;
        
}
.work-exp {
    text-align: left;
     
    
}

.education {
    text-align: left;
}

.bottom-container {
    display:flex;
    flex-direction: column;
    text-align: center;  
    background-color: rgb(196, 139, 64);
    position: bottom;
}
@media screen and (min-width: 0px) and (max-width: 400px) {
    .top-nav {
       margin: 1px;
       padding:10px; 
       
    }
    .band {
        
        font-size: 15px;
    }
    .container {
        
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
    }
    .mytab {
        
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
    }
    
}


@media screen and (min-width: 401px) and (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
    
    }
   
.my-skills {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
  
  width: 350px;
  height: 500px;
  
}
.work-exp {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
   
  max-width: 350px;
  height: 500px;
  
}

.education{ 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
  
  max-width: 699px;
  height: 400px;
  
}

}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .container  {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
    }

}
@media screen and (min-width: 901px) {
    .container {
        
        display: flex;
        flex-direction: row;
        
    }

    .my-skills {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
        width: 350px;
      max-height: 1800px;
      
    }
    .work-exp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
       
      width: 350px;
      max-height: 1800px;
      
    }
    
    .education{ 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
      
      max-width: 350px;
      max-height: 1800px;
    }
      
} 
 